body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  padding: 20px;
  text-align: center;
}

input {
  padding: 8px;
  width: 250px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.details {
  text-align: center;
  padding: 20px;
}

.details img {
  width: 300px;
  border-radius: 10px;
}
